.travel {
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;
}

.add {
  margin-top: -19px;
  margin-bottom: 13px;
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-family: "Playfair Display", serif; /* Luxurious font */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background: black; 
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out; /* Smooth transition */
  cursor: pointer;
}

.back {
  margin-top: -19px;
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-family: "Playfair Display", serif; /* Luxurious font */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
  background: #bfa16d; /* Deep charcoal */
  border: 2px solid; /* Luxurious gold border */
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out; /* Smooth transition */
  cursor: pointer;
}

.reg {
  margin-top: -19px;
  margin-bottom: 13px;
  margin-left: 20px;
  height: 50px;
  width: auto;
  font-size: 18px;
  font-family: "Playfair Display", serif; /* Luxurious font */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background: black; 
  border: 2px solid; /* Luxurious gold border */
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out; /* Smooth transition */
  cursor: pointer;
}

.emplo {
  margin-top: -19px;
  margin-bottom: 13px;
  margin-left: 20px;
  height: 50px;
  width: auto;
  font-size: 18px;
  font-family: "Playfair Display", serif; /* Luxurious font */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background: black; 
  border: 2px solid; /* Luxurious gold border */
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out; /* Smooth transition */
  cursor: pointer;
}

.logssss {
  flex-direction: column;
  justify-content: center;
  top: 0px;
  width: auto;
}

.sig {
  margin-top: 100px;
}

.navigationz {
  display: flex;
  flex-direction: row;
}

.formz {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.regiz {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
.titlez {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .navigationz {
    flex-direction: column;
  }
  .add {
    margin-bottom: 30px;
  }
  .reg {
    margin-top: -19px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .emplo {
    margin-top: -19px;
    margin-bottom: 13px;
    margin-left: -5px;
  }
  .formz {
    margin-top: 110px;
  }
  .regiz {
    display: flex;
    justify-content: center;
    margin-top: -100px;
  }
  .empeee {
    margin-right: 0px;
  }
  .travel {
    font-size: 35px;
  }
}

@media print {
  .add {
    display: none !important;
  }

  .reg {
    display: none !important;
  }

  .emplo {
    display: none !important;
  }

  .tra {
    display: none !important;
  }
  .headz,
  .headx,
  .titlez,
  .formz,
  .regixcv,
  .sig,
  .edix,
  .logssss,
  .homerun,
  .tabang {
    display: none !important;
  }
}
